:root {
    --primary-font: "Roboto", sans-serif;
    --body-text-color: #434455;
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --cloud-color:#F4F4FD;
    --main-grey-color:#2e2f42;
    --animation:250ms cubic-bezier(0.4, 0, 0.2, 1);
}
                    /* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background-color: #FFF;
    margin:0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, li, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding:0 16px;
    margin:0 auto;
}
@media screen and (min-width:768px){
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width:1158px){
    .container{
        max-width: 1158px;   
        padding:0 15px;
    }
}
.link {
    text-decoration: none;
    color: var(--body-text-color);
}
.list {
    color: var(--title-color);
}

                    /* Header */  
.header {
    max-height: 70px;
    border: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 } 
 @media only screen and (min-width: 768px) {
    .header{
         max-height: 72px;
   }
 }

/* logo */
.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-line{
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}
.logo-grey {
    color: var(--main-grey-color);
}
@media only screen and (min-width: 768px) {
   .logo{
    margin-right: 120px;
  }
}
/* navigation */
.nav-list {
    display: none;
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav-item{
    font-weight: 500;
}
.nav-link {
    position:relative;
    transition: color var(--animation);
}

@media only screen and (max-width: 767px) {
   .nav-list,
   .contacts{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
   .menu-toggle{
    display: none;
  }
  .nav-line{
    height: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .nav-list,
  .nav-contacts-list {
      display: flex;
      gap: 40px;
  } 
}
.nav-link {
    color: var(--title-color);
    font-style: normal;
    padding: 24px 0;
}
.nav-link.active {
    color: var(--ocean-color);
}
.nav-link.active::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color); 
    position: absolute;
    left: 0; 
    bottom: -1px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active{
    color: var(--ocean-color);
}
/* contact details */
.contacts{
    font-style: normal;
    line-height: 1.5em;
}
.contacts-link{
    transition: color var(--animation);
}
.contacts-link .link:hover,
.contacts-link .link:active,
.contacts-link .link:focus {
    color:var(--ocean-color);
}
@media only screen and (min-width: 768px) {
   .contacts-item{
        font-size: 12px;
    }
}
@media only screen and (min-width: 1158px) {
   .contacts-item{
        font-size: 16px;
    }
}

                    /* HERO */

.hero-section {
    color:#FFF;
    max-width: 1440px;
    max-height: 432px;
    background-color: var(--main-grey-color); 
    background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)
	), url(../images/webstudio/mobile-hero-image@1x.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 112px 0;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .hero-section{
    background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)
	), url(../images/webstudio/mobile-hero-image@2x.jpg)
  }
}
@media only screen and (min-width: 429px) {
   .hero-section{
    background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)
	), url(../images/webstudio/tablet-hero-image@1x.jpg)
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
     .hero-section{
      background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)), url(../images/webstudio/tablet-hero-image@2x.jpg);
    }
  }
}
@media only screen and (min-width: 769px) {
   .hero-section{
    background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)
	),  url(../images/webstudio/hero-image@1x.jpg);
  }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
     .hero-section{
      background-image:linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.70), 
	rgba(46, 47, 66, 0.70)), url(../images/webstudio/hero-image@2x.jpg);
    }
  }
}
.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin:auto auto 72px auto;
    text-transform: capitalize;
    max-width: 320px;
    
}
@media only screen and (min-width: 768px) {
    .hero-section{
        max-height: 436px;
    }
   .hero-title{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-transform:none;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
   .hero-section{
    max-height: 600px;
    padding: 188px 0;
    }
    .hero-title{
    margin-bottom: 48px;
  }
}
            /* blue button general */
.blue-button {
    font-family: "Roboto", sans-serif; 
    color: #FFF;
    background-color: var(--iris-color); 
    font-weight: 500;
    letter-spacing: 0.04em;

    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    transition: background-color var(--animation), box-shadow var(--animation);
}
.blue-button:hover,
.blue-button:active, 
.blue-button:focus {
    background-color: var(--ocean-color);
}
                        /*  */

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
}
.section {
    padding:96px 0;
}
@media screen and (min-width: 1158px) {
  .section {
    padding:120px 0;
  }
  
}
                /* benefits section */

.benefits-item {
    max-width: 396px;
}
.benefits-item:not(:last-child){
    margin-bottom: 72px;
}
    
@media only screen and (max-width: 1157px) {
  .benefits-icon-box{
      display: none;
      }
  .benefits-icon {
      display: none;
      }
}

.benefits-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.benefits-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.02em;
    font-style: normal;
    color:var(--body-text-color);
}

@media only screen and (min-width: 768px) {
      .benefits-list {
          display:flex;
          flex-wrap:wrap;
          gap:24px;  
      }
      .benefits-item{
          flex-basis:calc((100%-24px)/2);
      }
      .benefits-title{
        text-align: left;
      } 
      .benefits-text{
            max-width: 356px;
      }
}


@media only screen and (min-width: 1158px) {
  
      .benefits-list{
      display: flex;
      gap: 24px;
      }
      .benefits-item {
      max-width: calc((100% - 72px) / 4);
      }
      .benefits-item:not(:last-child){
        margin-bottom:0 ;
      }
      .benefits-icon-box{
      background-color: var(--cloud-color);
      border-radius: 4px;
      margin-bottom: 8px;
      height: 112px;
  
      display: flex;
      align-items: center;
      justify-content: center;
    } 
    .benefits-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
     }
     .benefits-text{
        font-weight: 400;
     }
}



                /* What are we doing */

.wawd-section{
    padding-top: 0;
  }
.wawd-list {
    display: flex;
    gap: 24px;
}
.image-card{
    object-fit: cover;
    width:360px;
}

@media only screen and (max-width: 1157px) {
  .wawd-section {
      display: none;
  } 
}


                    /* Team */


.team-section {
    background-color: var(--cloud-color);
}

.team-card-item {
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (max-width: 767px) {
   .team-card-item{
    margin: 0 auto;
  }
  .team-card-item:not(:last-child){
    margin-bottom: 72px;
}
}


.team-card-details {
    text-align: center;
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
}
.team-name-title {
    color:var(--main-grey-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}
.team-text {
    margin-bottom: 8px;
    font-weight: 400;
}
.team-social-media-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-icons {
    fill:var(--cloud-color);
}
.team-icon-link{
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color var(--animation); 
}

.team-icon-link:hover,
.team-icon-link:focus,
.team-icon-link:active {
    background-color: var(--ocean-color);
}

@media only screen and (min-width: 768px) {
    .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
    row-gap: 64px;
    }
}

                    /* Customers */

.customers-list{
    display:flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
    justify-content: center;
}
.cust-item{
    transition: color var(--animation), border-color var(--animation);
}
.cust-link{
    width: 190px;
    height: 88px;
    border: 1px solid #8E8F99;
    color: #8e8f99;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex-shrink: 0;
    transition: color var(--animation), border-color var(--animation);

}
.cust-icon{
    fill: currentColor;
}
.cust-link:hover,
.cust-link:focus {
    color: var(--ocean-color);
    border-color: var(--ocean-color);
}

.cust-link:hover.cust-icon,
.cust-link:focus.cust-icon {
    fill:var(--ocean-color);
    color: var(--ocean-color);
    border-color: var(--ocean-color);
}
@media only screen and (min-width: 768px) {
   .customers-list{
        gap: 24px;
        row-gap: 72px;
    }

    .cust-link{
        width: 168px;
    }

}

                    /* PORTFOLIO */

                    /*  button line */
.portfolio-section {
    padding-top: 48px;
}
.button-row{
    display:flex;
    flex-wrap: wrap;
    width: 428px;
    gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
   .portfolio-section{
    padding-bottom: 96px;
   }
    .button-row{
    justify-content: center;
    margin-bottom: 72px;
    width: auto;
  }
}
@media only screen and (min-width: 1158px) {
   .portfolio-section{
    padding-top: 96px; 
    padding-bottom: 120px; 
  }
}
.btn-item{
    display: block;
}
.buttons {
    font-family: var(--primary-font);
    color: var(--iris-color);
    background-color:var(--cloud-color);
    
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: background-color var(--animation), color var(--animation), border-color var(--animation), box-shadow var(--animation);
}
.buttons:hover,
.buttons:active,
.buttons:focus
{
    background-color: var(--ocean-color);
    color:#FFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.buttons:hover .btn-link,
.buttons:active .btn-link,
.buttons:focus .btn-link {
    color:#fff;
}



                    /* pictures */

.image-container{
    justify-content: center;
}
.image-card{
    width:396px;  
    margin-bottom: 48px;  
}

.image-link {
    display: block;
    transition: box-shadow var(--animation);

}
@media only screen and (min-width: 768px) {
   .image-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    row-gap: 72px;
  }
  .image-card{
    width:calc((100% - 24px) / 2);   
    margin: 0;
}
}
@media only screen and (min-width: 1158px) {
   .image-container{
    row-gap: 48px;
   }
    .image-card{
    width:calc((100% - 48px) / 3);    
}
}
.image-link:hover,
.image-link:active,
.image-link:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.box{
    overflow: hidden;
    max-width: 396px;
    max-height: 280px;

    position: relative;
}
.hover-text
{
    background-color: var(--iris-color);
    color: var(--cloud-color);
    display: inline-block;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--animation);

    width: 100%;
    height: 100%;
    padding: 40px 32px;  
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
}
.image-link:hover .hover-text,
.image-link:focus .hover-text {
    transform: translateY(0%);
}
.picture-title{
    font-weight: 500;
    font-size: 20px;
    color: var(--main-grey-color);
    margin-bottom: 8px;
}
.picture-text {
    color: var(--body-text-color);
}
.card {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}


                    /* Footer */

.footer {
    background-color: var(--main-grey-color);
    color: var(--cloud-color);
    padding: 98px 0px;
}

.footer-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 72px;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
.logo-white {
    color: var(--cloud-color);
}
.footer-text{
    margin: 0 auto;
    max-width: 268px;
    color:#ffffff;
}
.footer-small-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    font-weight: 500;
}
.footer-social-list {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
}

.f-social-link{
    width: 40px;
    height: 40px;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--animation);
}
.f-social-link:hover,
.f-social-link:focus,
.f-social-link:active{
    background-color: #31D0AA;
}
.footer-icon {
    fill: var(--cloud-color);
}
@media only screen and (min-width: 768px) {
   .footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .footer-container{
    max-width: 552px;
  }
  .footer-inner-container{
    margin-bottom: 0;
    justify-content: flex-start;
  }
  .footer-logo{
    margin-left: 0;
  }
  .footer-small-title{
    margin-left: 0;

  }
}
@media only screen and (min-width: 1158px) {
   .footer-container{
    max-width: 1128px;
    gap: 0;
    flex-wrap: nowrap;
   }
    .footer-text-block{
    margin-right: 120px;
    }
   .footer-media-block{
    margin-right: 80px;
   }
  
}

                    /* subscribe input */

.subscribe-block{
    margin: 0;
}
.subscribe-title{
    margin:0 auto 16px auto ;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.subscribe-input{
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    padding: 8px 16px;
}
.subscribe-input::placeholder{
    color:#fff;
}
.subscribe-input:focus{
    border-color: var(--iris-color);
    outline: transparent;
}
.subscribe-btn{
    margin-top: 16px;
    height: 40px;
    width: 165px;
    display: flex;
    gap: 16px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    box-shadow: none;
   }

.btn-icon{
    fill: #fff;
    margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  .subscribe-block{
    flex-basis:496px;
  }
  .subscribe-form{
    display: flex;
    gap: 24px;
  }
  .subscribe-input{
    width: 264px;
  }
  .subscribe-btn{
    margin:0;
  }
}

@media only screen and (min-width: 1158px) {
   .subscribe-block{
    flex-basis: auto;
  }
}


                        /* MODAL */
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: scroll;
    transition: opacity var(--animation), visibility var(--animation);
}

.modal{
    width: 392px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;

    flex-shrink: 0;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    position: absolute;
    top: 96px;
    left:50%;
    transform: translateX(-50%);
    transition: transform var(--animation);
}

.close-btn {
    width:24px;
    height:24px;
    padding: 0; 
    background-color:#e7e9fc;

    position: absolute;
    top:24px;
    right:24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--animation), border var(--animation); 
}
.close-icon{
    border: 1px;
    transition: fill var(--animation); 
}
.close-btn:hover,
.close-btn:focus
 {
    background-color: var(--ocean-color);
    border:none;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    stroke:#FFF;
    fill: #fff;
}
@media only screen and (min-width: 768px) {
   .modal{
    padding: 72px 24px 24px 24px;
  }
}
@media only screen and (min-width: 1158px) {
   .modal{
    width: 408px;
    top: 90px;
  }
}

                    /* MODAL INPUT */

.modal-title{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em; 
    line-height: 1.5; 
    color: var(--main-grey-color);
    margin-bottom: 16px;
}

.label-box{
    margin-bottom: 8px; 
}
.label-box:nth-child(4){
    margin-bottom: 16px;

}

.modal-label {
    display: block;
    color: #8E8F99;
    font-weight: 400;
    letter-spacing: 0.04em; 
    line-height: 1.17em; 
    font-size: 12px; 
    margin-bottom: 4px; 

    position: relative;
}

.input-box {
    position: relative;
}

.modal-input{
    padding: 11px 38px;
    margin-top: 2px;
    width: 100%;
    height: 40px;
    background-color: transparent; 
    outline: transparent; 
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);

    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em; 

    transition: border-color var(--animation);
}
.input-icon {
    fill: var(--main-grey-color);

    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%);

    transition:fill var(--animation);
}
.modal-input:focus{
    border-color: var(--iris-color);
    outline: transparent;

}
.modal-input:focus + .input-icon{
    fill:var(--iris-color);

}
.comment-box {
    width: 100%;
    height: 120px;     
    padding: 8px 16px;

    resize: none; 
    color: rgba(46, 47, 66, 0.4); 
}

.comment-box::placeholder{
    color: rgba(46, 47, 66, 0.40);
}
/* checkbox */

.modal-checkbox-area{
    margin-bottom: 24px;
}
.checkbox-input{

}
.policy-label {
    display: block;
    color: #8E8F99;
    font-weight: 400;
    letter-spacing: 0.04em; 
    line-height: 1.17em; 
    font-size: 12px; 
    margin-bottom: 4px; 
}
.modal-custom-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    transition: background-color var(--animation), 
                border var(--animation), 
                fill var(--animation);
}
.policy-link{
    color: var(--iris-color);
}
.checkbox-input:checked + .policy-label .modal-custom-checkbox,
.checkbox-input:focus + .policy-label .modal-custom-checkbox{
    background-color: var(--ocean-color);
    border: none;
    fill: var(--cloud-color);
}

.send-btn {
    line-height: 1.5;
    transition: background-color var(--animation)
}
            /* MODAL menu */

.menu-toggle {
  min-height: 22px;
  min-width: 32px;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}


@media (min-width: 768px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
.burger-icon{
    stroke:var(--main-grey-color);
}
.menu-toggle:hover .burger-icon,
.menu-toggle:focus .burger-icon {
    stroke: var(--ocean-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 60px 40px 40px;
  background-color:#fff;
  z-index: 9999;

  transform: translateX(100%);
  transition: transform var(--animation);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile-nav-item{
    margin-bottom: 40px;
}
.mobile-nav-link{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height:1.1;

    color: var(--main-grey-color);
}
.mobile-nav-link.active{
    color: var(--ocean-color);
}
.mobile-contacts{
    position: absolute;
    bottom: 40px;
    font-style: normal;
}
.mobile-tel-contacts{
    display: block;
    color: var(--iris-color);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.1;
}
.mobile-mail-contacts{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 48px;
    
    width: 100%;
}
.mobile-media-list{
    gap: 0;
    justify-content: space-between;
}